TURSO_URL=
TURSO_TOKEN=
TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHANNEL_ID=
SMS_API_KEY=
JWT_SECRET=

# Google Search Console
GOOGLE_CLIENT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_SEARCH_CONSOLE_SITE_URL=https://ais-dev-fliajw26e4lhovpheofizy-130747269899.asia-southeast1.run.app
