MYSQL_HOST=localhost
MYSQL_USER=kazal_user
MYSQL_PASSWORD=Mojibrsm.Com89
MYSQL_DATABASE=kazal_db
TELEGRAM_API_ID=33363420
TELEGRAM_API_HASH=b017fdd1313621d3f7baa44a392598ff
TELEGRAM_BOT_TOKEN=8779299980:AAEJKCammAmra1uodwOTtW58N-LSj_dr5D0
TELEGRAM_CHANNEL_ID=-1003609741765
SMS_API_KEY=anbu_sms_mgq589nm_9mgblyt069h
JWT_SECRET=MojibrsmKazal

# Google Search Console & Analytics
GOOGLE_CLIENT_EMAIL=id-lutfur-rahman-kajal@oftern-shop.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY=-----BEGIN PRIVATE KEY-----
MIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQDhj5CQvyrpCdoC
TSeiAXyDE45U1YwGXdjeFKWRB0OBy+c19WBDrpXbpd4+2QTgYqJqMsRsxilnBGMJ
O9V2eIA5GKWxfnGj8kqY2GkTze/tCDN7VWCp4l3z3eVso4l50zvAzD9yodDTDq85
7ssbtGH7nHrziMBtAhG9H+kaZozFSWUamRVVthqgZV/tiSCxP8cpkIPCgE07uH6E
2aSfaF/1GoqD3n6tt2VW2W8f+EWrgAEKjJeb/ndOxNjtYCEIly55I6q+NrJQLW3M
KOnhfHWOgIpX2OY5+cXCWYqih6DMdPN1ICh4gQysWJEi1A4h1hwKpr3P6rt6Fupz
qmnDidqLAgMBAAECggEAOP1rgs7yOhAVp5gz59BlU77oqtGLv/4NMctYq8SAj3Zj
1DPLnz4oueb2OL3faAwzyg5Kp8sHofIvTaFzBSxcBVEPaEGw18H7jBO9tNXHBYYZ
b9N6CWJa56dMdL77GK9AvS096Kou12yx5DrL0ZOpYAfA3vBR4hjwP28lF9kKPzwb
GeF0O/KS/kcrjCY/NN4nD9pWTWaSePFsvc+2t6YRRy0ECCyHKKFqo7TuOrqwh4tP
CX1y+pvybF+O3IlHfd6Lo61CFl5RrZuQGY2vC//cNK4ENBpAJdfRenOFhgpJhtwx
8gZm6t46V2i4waxSijcNE9sr8wHlHpFY0N/0pQnXPQKBgQD2iqd1QnDOhVNLEav3
sw+NzB4OjTH7kA2XIMEKP2QkVWzRnhlO/Hj2BXIxtkD75afLjlYWdSjBUWmpSrH3
XREioEqGjSxyP1Av0JWSYB+sXujBbQXKeVyyGCe56mQZgxR4N+zU0Nepsxin1pMf
KmX8eeHxMfMoFZUJcbBmEjSyXwKBgQDqNtpRKs/gfxDJFyxF3QM+Sf/i+RMLyiQ5
3EsOsWslUYWlVlgCCxM0HFeiODiQQrhf9Tak5SUdXDqVllNJVpV9s4dOQ9Fs0SQG
KU+CDpwJ5vrhMibQhVzDuw/TflPpGhaHpnrixlsdi/+KJhqiia0IUoOLUUtAvAdh
eNLiTmL/VQKBgQCtY2hQPHDvna6trfj+lI0M0ZAV9dFANdiI//0jgt+f+gA1D/aG
qWM8yym7sozTW3l93FXJJ46JHwOrjx/Ic0iYzJh9No4ar1JqvkxjDH1aEcmqN02K
T34Uto5B34mUs65Suioypcn2zEE70NnZYk0lmmZ/5fw3pa4SXUWNE6LCCwKBgQDL
O7XNYLzpLNk/5R/Br7o0vrmQFll0jX9JxeJLaaBzzX2OrpHHlByhx0YzuV07sOmU
Oo+kHkJKa9FaJAs5RCyL2tC6FRcQuZnszsPzMwIrhYaFCqOrpU2NejCNcL0XNFAA
fXF8fmpqBSVElzPdfmHrKs6CgZQvI/mzlshHH4W/0QKBgE6o8LD2mjuGX0UMWImQ
W2r3Vfc8uvekcDVdUALuf5rzkrTqbhY/Sv5d4/9X0QG/mc2PVS/xKJf5eVgJa32d
eqlfA4HiAkSkNwgVOSO//crnXStBcqk4yNLA0ftGqYbe8ca9UTEwrjWKXh3C1W+S
+VBP0kStwzvV4NRXx+U2iGz2
-----END PRIVATE KEY-----

GOOGLE_SEARCH_CONSOLE_SITE_URL=https://kazal.pro.bd
GOOGLE_ANALYTICS_PROPERTY_ID=431272227
