MYSQL_HOST=localhost
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=kazal_portfolio
TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHANNEL_ID=
SMS_API_KEY=
JWT_SECRET=

# Google Search Console & Analytics
GOOGLE_CLIENT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_SEARCH_CONSOLE_SITE_URL=https://ais-dev-fliajw26e4lhovpheofizy-130747269899.asia-southeast1.run.app
GOOGLE_ANALYTICS_PROPERTY_ID=
